<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.admin.mapper.SysRoleMapper">

    <resultMap id="roleResult" type="com.cloud.admin.beans.dto.RoleDTO">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="enname" column="enname" />
        <result property="roleType" column="roleType" />
        <result property="dataScope" column="dataScope" />
        <result property="remarks" column="remarks" />
        <collection property="menuList" ofType="com.cloud.admin.beans.dto.MenuDTO">
            <id property="id" column="menuList.id" />
        </collection>
    </resultMap>

    <sql id="roleColumns">
      a.id AS id,
      a.name AS name,
      a.enname AS enname,
      a.role_type AS roleType,
      a.data_scope AS dataScope,
      a.create_by AS createBy,
      a.create_date AS createDate,
      a.update_by AS updateBy,
      a.update_date AS updateDate,
      a.remarks AS remarks,
      a.del_flag AS delFlag
  </sql>

    <sql id="roleJoins">
        LEFT JOIN sys_office o ON o.id = a.office_id
    </sql>

    <select id="get" resultMap="roleResult">
        SELECT
        <include refid="roleColumns"/>,
        rm.menu_id AS "menuList.id",
        FROM sys_role a
        LEFT JOIN sys_role_menu rm ON rm.role_id = a.id
        WHERE a.id = #{roleId}
    </select>


    <select id="findList" parameterType="com.cloud.admin.beans.dto.RoleDTO"
            resultType="com.cloud.admin.beans.dto.RoleDTO">
        SELECT
        <include refid="roleColumns"/>
        FROM sys_role a
        LEFT JOIN sys_user_role ur ON ur.role_id = a.id
        LEFT JOIN sys_user u ON u.id = ur.user_id
        WHERE a.del_flag = #{DEL_FLAG_NORMAL}
            AND u.id = #{id}
            group by  a.id
    </select>



</mapper>
