<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.generator.mapper.TableColumnMapper">



    <select id="getTableColumnList" resultType="com.cloud.generator.entity.TableColumn">
        SELECT
            a.COLUMN_NAME AS name,
            a.COLUMN_COMMENT AS comments,
            a.COLUMN_TYPE AS jdbcType
        FROM
            information_schema.`COLUMNS` a
            WHERE a.TABLE_SCHEMA = (select database())
            and a.TABLE_NAME = #{tableName}
        ORDER BY
            a.ORDINAL_POSITION

    </select>


</mapper>
