<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.message.mapper.SysMsgMapper">


  <sql id="Base_Column_List">
      a.id AS id,
      a.request_id AS requestId,
      a.type AS type,
      a.mobile AS mobile,
      a.content AS content,
      a.send_state AS sendState,
      a.create_by AS createBy,
      a.create_date AS createDate,
      a.update_by AS updateBy,
      a.update_date AS updateDate,
      a.remarks AS remarks,
      a.del_flag AS delFlag
  </sql>
</mapper>
